<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Todo List</title>
    <link rel="stylesheet" href="../styles/styles.css">
  </head>
  <body>


    <div class="box" id="heading">

<h1>It's <%=day%></h1>
<div class="weather__box">
<img src=<%=icon%> alt="weather-icon" class="weather-image">
<div class="weather__text">
  <p class="weather__temp"><%=temp%>&#176</p>
<p id="weather"><%=weather %></p>
<p id="extWeather"><%=extWeather %></p>
</div>
<div class="priority__box">   
  <h2>What are your priorities today?</h2>
</div>

</div>

<form class="form" method="POST" action="/">

  <input
    type="text"
    name="addInput"
    class="form__input"
    placeholder="Start with an action or verb""
    autocomplete="off"
    autofocus
  />
  <button type="submit" name="btn">+</button>

</form>



    

    
            <% for(i=0; i<newItem.length; i++){ %>
      <div class="item">
                <input type="checkbox">
      <p><%= newItem[i] %></p>
           </div>
     <% } %>
    </div>

  </body>
</html>
