
<%-include ("header"); -%>
    
    <div class="box" id="heading">

<h1><%=title%></h1>
<div class="weather__box">
<img src=<%=icon%> alt="weather-icon" class="weather-image">
<div class="weather__text">
  <p class="weather__temp"><%=temp%>&#176</p>
<p id="weather"><%=weather%></p>
<p id="extWeather"><%=extWeather %></p>
</div>
<div class="priority__box">   
  <h2>What are your priorities today?</h2>
</div>

</div>

<form class="form" method="POST" action="/">

  <input
    type="text"
    name="addInput"
    class="form__input"
    placeholder="Start with an action or verb""
    autocomplete="off"
    autofocus
  />
  <button type="submit" name="list" value=<%=title%>>+</button>

</form>

            <% for(i=0; i<newItem.length; i++){ %>
      <div class="item">
                <input type="checkbox">
      <p><%= newItem[i] %></p>
           </div>
     <% } %>
    </div>

<%- include("footer") -%>